KAFKA_BROKERS=localhost:29092
PORT=3010
# KAFKA_CLIENT_ID=kafka-test-publisher

# Optional SASL (set both user and password)
# KAFKA_USERNAME=
# KAFKA_PASSWORD=
# KAFKA_SASL_MECHANISM=scram-sha-512
# KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
